//- <div class="row">
//-   <div class="col-sm-3 col-md-2">
//-     <div class="article_nav col-sm-3 col-md-2">
//-       <div class="banner">
//-         <h1><a href="/">Blog</a></h1>
//-         <p>My blog</p>
//-       </div>
//-       <ul style="list-style-type:none;" data-reactid=".1jokhuxp8g0" data-react-checksum="1701428695">
//-         <li data-reactid=".1jokhuxp8g0.0:0">
//-           <a href="/useful-git-commands#55e5aed6544486010086e062" data-reactid=".1jokhuxp8g0.0:0.0">Useful Git Commands</a>
//-         </li>
//-         <li style="padding-left:10px;" data-reactid=".1jokhuxp8g0.0:1:0">
//-           <a href="/useful-git-commands#564143d2020eda0100af83cc" data-reactid=".1jokhuxp8g0.0:1:0.0">Pretty git log</a>
//-         </li>
//-         <li data-reactid=".1jokhuxp8g0.1:0">
//-           <a href="/iptables-in-docker-permission-denied#55e5b2a3544486010086e064" data-reactid=".1jokhuxp8g0.1:0.0">IPTABLES in Docker - Permission Denied</a>
//-         </li>
//-       </ul>
//-     </div>
//-   </div>


div= nav