ul#nav
  if stories
    each story in stories
      li
        a(href= '/article/'+story.slug+"#"+story._id)= story.title
      if story.posts.length > 0
        each post in story.posts
          li(class="nav-post")
            a(href= '/article/'+story.slug+"#"+post._id)= post.title

