html
  head
    block title
      title blogging
    link(rel="stylesheet" type="text/css" href="/css/main.css")
  body
    div.article_nav!= article_nav
    block content
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")