html
  head
    block title
      title=title
    link(rel="stylesheet" type="text/css" href="/css/main.css")
  body
    div.row
      div.col-sm-3
        div.article_nav.col-sm-3
          div.banner
            h1=title
            p=tag
          != article_nav
      div.col-sm-9
        block content
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")