html
  head
    block title
      title blogging
    link(rel="stylesheet" type="text/css" href="/css/main.css")
  body
    div.row
      div.col-sm-2
        div.article_nav!= article_nav
      div.col-sm-10
        block content
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js")