body{

}

.banner{
	width: auto;
}

.article_nav{
    position: fixed !important;
    top: 0;
}

.article_nav ul{
    padding-left: 10px;
}

.article_nav li{
    text-overflow: ellipsis;
    white-space: nowrap;
/*    overflow: hidden;*/
	list-style: none;
}

.nav-post{
	padding-left: 10px;
}


article{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted black;
}

@media screen and (max-width:768px) { .article_nav { position: static; } }