body{

}

.article_nav{
    position: fixed;
    top: 0;
}

.article_nav ul{
    padding-left: 10px;
}

.article_nav li{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

article{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted black;
}

@media screen and (max-width:768px) { .article_nav { position: static; } }